/* line 17, /Users/benrajalu/.rvm/gems/ruby-1.9.3-p545@global/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/benrajalu/.rvm/gems/ruby-1.9.3-p545@global/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/benrajalu/.rvm/gems/ruby-1.9.3-p545@global/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/benrajalu/.rvm/gems/ruby-1.9.3-p545@global/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/benrajalu/.rvm/gems/ruby-1.9.3-p545@global/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/benrajalu/.rvm/gems/ruby-1.9.3-p545@global/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/benrajalu/.rvm/gems/ruby-1.9.3-p545@global/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/benrajalu/.rvm/gems/ruby-1.9.3-p545@global/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/benrajalu/.rvm/gems/ruby-1.9.3-p545@global/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "regular";
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-regular-webfont.woff") format('woff'), url("../fonts/roboto-regular-webfont.ttf") format('truetype'), url("../fonts/roboto-regular-webfont.otf") format('opentype'), url("../fonts/roboto-regular-webfont.svg") format('svg');
  font-weight: "normal"; }

@font-face {
  font-family: "light";
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-light-webfont.woff") format('woff'), url("../fonts/roboto-light-webfont.ttf") format('truetype'), url("../fonts/roboto-light-webfont.otf") format('opentype'), url("../fonts/roboto-light-webfont.svg") format('svg');
  font-weight: "normal"; }

@font-face {
  font-family: "bold";
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-bold-webfont.woff") format('woff'), url("../fonts/roboto-bold-webfont.ttf") format('truetype'), url("../fonts/roboto-bold-webfont.otf") format('opentype'), url("../fonts/roboto-bold-webfont.svg") format('svg');
  font-weight: "normal"; }

/* line 2, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_variables.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes dots {
  /* line 2, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  0% {
    top: 0px; }

  /* line 5, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  25% {
    top: -3px; }

  /* line 8, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  50% {
    top: 0px; }

  /* line 11, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  100% {
    top: 0px; } }

@keyframes dots {
  /* line 17, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  0% {
    top: 0px; }

  /* line 20, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  25% {
    top: -3px; }

  /* line 23, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  50% {
    top: 0px; }

  /* line 26, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  100% {
    top: 0px; } }

@-webkit-keyframes fadeInLeft {
  /* line 32, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

  /* line 38, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  /* line 46, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

  /* line 52, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInRight {
  /* line 60, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  /* line 66, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  /* line 74, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  /* line 80, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_keyframes.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

/* line 1, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_structure.scss */
body, html {
  background: #656565; }

/* line 5, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_structure.scss */
#appCore {
  display: table;
  position: absolute;
  width: 95%;
  height: 100%;
  max-width: 500px;
  left: 0;
  right: 0;
  margin: 0 auto; }
  /* line 14, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_structure.scss */
  #appCore .contents {
    display: table-cell;
    vertical-align: middle;
    padding: 30px; }

/* line 1, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_log.scss */
#log {
  display: block;
  padding: 30px 0px;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 30px;
  max-height: 400px;
  overflow: auto;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }
  /* line 10, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_log.scss */
  #log p {
    padding: 5px 30px 7px 30px;
    font-family: 'regular', sans-serif;
    font-size: 12px;
    color: #525252;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
    /* line 17, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_log.scss */
    #log p span {
      display: block;
      line-height: 15px;
      font-family: "bold"; }
    /* line 23, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_log.scss */
    #log p.him span {
      color: #4ab989; }
    /* line 26, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_log.scss */
    #log p.him:not(.new) {
      -webkit-animation-name: fadeInLeft;
      animation-name: fadeInLeft; }
    /* line 31, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_log.scss */
    #log p.me {
      text-align: right;
      background: rgba(61, 61, 61, 0.1);
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight; }
      /* line 36, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_log.scss */
      #log p.me span {
        color: #525252; }
    /* line 41, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_log.scss */
    #log p span.dot {
      display: inline-block;
      width: 3px;
      height: 3px;
      background: #4ab989;
      border: 0px;
      position: relative;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      animation: dots 300ms  ease-out 300ms infinite alternate;
      -webkit-animation: dots 300ms  ease-out 300s infinite alternate; }
      /* line 52, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_log.scss */
      #log p span.dot.two {
        animation-delay: 400ms;
        -webkit-animation-delay: 400ms; }
      /* line 56, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_log.scss */
      #log p span.dot.three {
        animation-delay: 500ms;
        -webkit-animation-delay: 500ms; }

/* line 1, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_form.scss */
#queries {
  position: relative;
  padding-right: 40px; }
  /* line 4, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_form.scss */
  #queries input, #queries button {
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out; }
    /* line 6, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_form.scss */
    #queries input[type="text"], #queries button[type="text"] {
      display: block;
      width: 100%;
      padding: 0 10px;
      height: 40px;
      background: white;
      border: 1px solid #525252;
      line-height: 40px;
      border-right: 0px;
      font-family: 'light', sans-serif;
      font-size: 12px;
      color: #525252; }
      /* line 16, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_form.scss */
      #queries input[type="text"]:focus, #queries button[type="text"]:focus {
        outline: 0;
        border-color: #4ab989; }
        /* line 19, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_form.scss */
        #queries input[type="text"]:focus + button, #queries button[type="text"]:focus + button {
          border-color: #4ab989; }
    /* line 24, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_form.scss */
    #queries input[type="submit"], #queries button[type="submit"] {
      -webkit-appearance: none;
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
      height: 40px;
      -webkit-appearance: none;
      width: 40px;
      background: #4ab989;
      border: 1px solid #525252;
      border-left: 0px;
      font-family: 'bold', sans-serif;
      font-size: 12px;
      color: white; }
      /* line 37, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_form.scss */
      #queries input[type="submit"]:active, #queries button[type="submit"]:active {
        -webkit-transform: rotateX(-30deg) translateY(-2px);
        -moz-transform: rotateX(-30deg) translateY(-2px);
        -ms-transform: rotateX(-30deg) translateY(-2px);
        -o-transform: rotateX(-30deg) translateY(-2px);
        transform: rotateX(-30deg) translateY(-2px); }
        /* line 39, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_form.scss */
        #queries input[type="submit"]:active:after, #queries button[type="submit"]:active:after {
          height: 6px;
          -webkit-transform: rotateX(30deg);
          -moz-transform: rotateX(30deg);
          -ms-transform: rotateX(30deg);
          -o-transform: rotateX(30deg);
          transform: rotateX(30deg); }
      /* line 44, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_form.scss */
      #queries input[type="submit"]:focus, #queries button[type="submit"]:focus {
        outline: 0; }
      /* line 47, /Users/benrajalu/Dropbox/Applications/ornikarRobot/source/css/_parts/_form.scss */
      #queries input[type="submit"]:after, #queries button[type="submit"]:after {
        height: 0px;
        width: 100%;
        content: "";
        background: #525252;
        display: block;
        position: absolute;
        left: 0px;
        top: 100%;
        -webkit-transition: all 150ms ease-out;
        -moz-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
        transition: all 150ms ease-out; }
