// Font mixins

	@mixin regular($size, $color){
		font-family:'regular', sans-serif;
		font-size:$size;
		color:$color;
	}
	@mixin light($size, $color){
		font-family:'light', sans-serif;
		font-size:$size;
		color:$color;
	}
	@mixin bold($size, $color){
		font-family:'bold', sans-serif;
		font-size:$size;
		color:$color;
	}
