// Box sizing, dammit
	*{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

// Colors
	$black: #525252;
	$green: #4ab989;
	$white: #fff;
	$greyBG: #656565;
