#queries{
	position:relative;
	padding-right:40px;
	input{
		@include transition(all 300ms ease-out);
		&[type="text"]{
			display:block;
			width:100%;
			padding:0 5px;
			height:40px;
			background:$white;
			border:1px solid $black;
			line-height: 40px;
			border-right:0px;
			@include light(14px, $black);
			&:focus{
				outline:0;
				border-color: $green;
				&+ input{
					border-color:$green;
				}
			}
		}
		&[type="submit"]{
			display:block;
			position:absolute;
			right:0px;
			top:0px;
			height:40px;
			-webkit-appearance: none;
			width:40px;
			background:$green;
			border:1px solid $black;
			@include bold(12px, $white);
		}
	}
}