---
title: Ornikar's talking robot
description: His name is John Snow
---
			
			<article id="appCore">
				<div class="contents">
					<section id="log">
						<p class="him"><span>John Snow:</span> Hello. Que veux-tu savoir ?</p>
					</section>
					<form id="queries" method="POST" action="">
						<input type="text" id="question" placeholder="Pose-moi une question, l'hiver approche" />
						<input type="submit" value="OK" />
					</form>
				</div>
			</article>